.slider {
  -webkit-appearance: none;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  height: 8px;
  width: 150px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 20px;
  border-radius: 5px; 
  background: #796C64;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 20px;
  border-radius: 5px; 
  background: #796C64;
  cursor: pointer;
}

.slidecontainer{
  height: 150px;
}